@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h1 class="display-4 text-primary mb-4 text-center">About Us</h1>

            <div class="mb-4">
                <h3 class="text-dark">Offir Tura</h3>
                <p class="lead">Computer science student at Afeka College and <strong>not bad gamer</strong>.</p>
            </div>

            <div>
                <h3 class="text-dark">Liad Nave</h3>
                <p class="lead">Computer science student at Afeka College and <strong>could be funnier guy</strong>.</p>
            </div>
        </div>
    </div>
</div>
